<% @user.lists.each do |list| %>
  <div class="list">
    <%= content_tag :div, class: ["list"] do %>
      <div class="list-title"><%= list.name %></div>
      <% list.list_entries.each do |entry| %>
        <div class="list-items">
          <ul>
            <li class="list-unstyled"><%= entry.quantity %> <%= entry.food.name %></li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>