<div class='row'>

  <div class='col-xs-12 col-sm-4 col-md-4'>
    <% if @user.image.blank? %>
      <%= image_tag('http://sunfieldfarm.org/wp-content/uploads/2014/02/profile-placeholder.png') %>
    <% else %>
      <%= image_tag(@user.image) %>
    <% end %>
  </div>

  <div class='col-xs-12 col-sm-12 col-md-8'>
    <div class='wrapper'>
    </div>
  </div>

</div>
