<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-1 col-md-4 col-md-offset-4">
    <h1><%= @food.name %></h1>
    <h2>Ingredients in order of amount:(most is first)</h2>
    <div class="ingredients">
      <%= @food.ingredients %>
    </div>

  </div>
</div>
