/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Lato');

h1  {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  font-family: 'Archivo Black', sans-serif!important;

}

h2 {
  font-family: 'Archivo Black', sans-serif!important;
}

a {
  text-decoration: none;
  color: black;

}

a:hover {
  color: #000000!important;
  text-decoration: none!important;  
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url(http://68.media.tumblr.com/3b3c7c45e433ea62401105c923ee6a48/tumblr_n5njdj6BEK1r3lazmo3_1280.jpg);
  background-size: cover;
  background-repeat: repeat-x;
}

.buttons {
  margin-right: 31%;
}

.container {
  margin-top: 5%;
}

.profile-pic {
  max-width: 360px;
  box-shadow: 1px 5px 10px rgba(6, 2, 2, 0.26);
  padding: 7px;
  background: white;
}

.name {
  font-size: 4vh;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

ul.pull-left {
  font-size: 4vh;
  margin-top: 25px;
}

.footer {
  margin-top: 37vh;
}

.tag-line {
  font-size: 45px;
  margin-top: 12%;
}

.search-bar, #new_entry_list {
  text-align: center;
}

#quantity-bar {
  width: 300px;
}

.new_list_entry {
  margin-left: 24%;
}


#autocomplete-bar {
  width: 300px;
}

.list-title {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 17px;
  a {
    color: white;
  }
}

.list {
  font-family: 'Lato', sans-serif;
  width: 385px;
  box-shadow: 1px 5px 10px rgba(6, 2, 2, 0.26);
  background-color: rgb(75, 160, 75);

}

.shopping-list {
  box-shadow: 1px 5px 10px rgba(6, 2, 2, 0.26);
  background-color: rgb(75, 160, 75);
  color: white;
  width: 300px;
  margin-left: 24%;
}

.wrapper {
  margin-left: 20%;
  margin-top: -3%;
}

.food-item-list {
  a {
    color: white;
  }
}

#new_list {
  margin-left: 25%;
}

p {
  margin-top: 20px;
  text-align: center;
}

#food-content {
  text-align: center;
}

.list-items {
  padding-bottom: 1%;
}
